.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  text-decoration: none;
}

.avatar-component {
  width: 56px;
  height: 56px;
  background-color: #eee841;
  color: #000;
}

