.current-role {
  display: flex;
  justify-content: space-between;
}

.header {
  font-weight:600;
}

.current-role-highlight {
  font-weight: 100;
}

.current-role-link {
  text-decoration: none;
  color: inherit;
}

.current-role-caption {
  font-size: 0.7rem;
}

.dot {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  margin-right: 0.3rem;
  background-color: #eee841;
}